body {
  background-color: black;
}

.box {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade {
  transition: opacity 0.7s linear;
}

.alert {
  opacity: 0;
}

.alert.show {
  opacity: 1;
}

.message {
  position: absolute;
  opacity: 0;
}

.message.show {
  opacity: 1;
}

.messageBox {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 20px #000, 0 0 1em #000, 0 0 0.2em #000;
}

.messageFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 20px #000, 0 0 1em #000, 0 0 0.2em #000;
}